.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  
  .overlay {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: black;
    font-family: serif, Monospace, Arial;

    padding-top: 20px;
  }

  .img-col {

    float: left;
    width: 30%;
    padding: 10px;
  }
  
  .row {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }


  .show-text {
    font-family: serif, Monospace, Arial;
    color: cadetblue;
      position: relative;
      display: block;
      margin: 0;
      font-size: 4rem;
      line-height: 1;
      transform: translateY(6rem);
      animation: up 500ms linear forwards;
      z-index: 1;
      text-shadow: 0px 1px 1px rgba(255,255,255,1);
      
      &::before,
      &::after {
          position: absolute;
          content: '';
          width: 0px;
          height: 1px;
          left: 0;
          background-color: rgba(0,0,0,0.2);
          z-index: -1;
      }
      
      &::before {
          top: 1.4rem;
          animation: draw 500ms linear 1s forwards;
      }
      
      &::after {
          bottom: 0.4rem;
          animation: draw 500ms linear 1s forwards;
      }
      
  }
  
  .title-container {
      font-size: 0;
      position: relative;
      overflow: hidden;
      padding-bottom: 0.4rem;
  }
  
  @keyframes up {
      
      100% {
          transform: translateY(0);
      }
      
  }
  
  @keyframes draw {
      
      100% {
          width: 100%;
      }
      
  }


  .about-text {
    padding: 10px;
  }