
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  
}

.show-text {
  text-align: center;
  font-family: Arial;
  color: black;
	position: relative;
	display: block;
	margin: 0;
	font-size: 3rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}	
}
.title-container {
  width: 100%;
  display: block;
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}
@keyframes up {
	
	100% {
		transform: translateY(0);
	}
}
@keyframes draw {
	100% {
		width: 100%;
	}
}


.img-row{
  width:100%;
}

.img-col {
  text-align: center;
  float: left;
  width: 30%;
  padding: 10px;
}
.overlay {
  margin: auto;
  width: 60%;
  padding: 10px;
  color: black;
  font-family: serif, Monospace, Arial;

  padding-top: 20px;
}
.row {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.overlay-text{
  position: relative;
  overflow: hidden;

  width: 100%;

  position: absolute;
  top: -410px;
  left: 10px;
  color: #fff;
  z-index: 100;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: all 0.3s ease-in-out;

  text-align: center;
  }

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}